body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #dcdedf;
  }
  
  .morph-section {
    width: 1000px; /* 增大宽度 */
    height: 1000px; /* 增大高度 */
    position: absolute;
    left: 50%; /* 左侧居中 */
    top: 50%; /* 垂直居中 */
    transform: translate(-70%, -26%); /* 调整居中 */
    font-family: monospace;
    color: #000000;
}
  
  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    bottom: 20px;
    color: #000000;
  }
  
  a {
    color: #000000;
  }
  #title {
    text-align: center;
    z-index: 1000;
    bottom: 45%; /* 距离底部的位置 */
      /* 文本输入框和按钮样式 */

}
#titleImage {
    display: none; /* 初始状态为隐藏 */
    width: 600px; /* 调整图片的宽度 */
    height: auto; /* 高度自动调整 */
    margin-left: 80px; /* 在图片和标题之间添加一些间距 */
    left: 40%; /* 左侧与标题的右侧对齐 */
    bottom: 55%; /* 距离底部的位置 */
}
#userInput, button {
    z-index: 1001;   /* 高z-index值确保元素在最上面 */
    bottom: 45%; /* 距离底部的位置 */
    /* 添加更多样式以美化这些元素 */  }

/* 使文本输入框和按钮在页面中央下方显示 */
#userInput {
    bottom: 30%; /* 距离底部的位置 */
    left: 40%;  /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    transform: translateX(0%); /* 调整位置以确保居中 */
    z-index: 1001;
}

button {
    bottom: 25%; /* 距离底部的位置 */
    left: 53%;  /* 水平居中 */
    transform: translateX(8%); /* 调整位置以确保居中 */
    z-index: 1001;
}
